.footer {
  font-size: .83rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0082c8;
  min-height: 2.5rem;
  margin-top: auto;

  p {
    padding: 0 1rem;
  }
}

