.scrollable-content {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .title {
    font-size: 0.875rem;
  }

  .ui.form .field > label {
    font-size: 0.875rem;
    font-weight: 400;
  }

  .ui.grid > .column.title {
    padding-bottom: 0;
  }

  .ui.container {
    padding-bottom: 1rem;
  }
}
