.green {
  background-color: green;
}

.red {
  background-color: red;
}

.responseMessage {
  width: 100%;
  font-size: .83rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  bottom: 0;
  position: fixed;

  p {
    padding: 0 1rem;
  }
}

.show {
  min-height: 2.5rem;
  transition: min-height 0.15s ease-out;
}

.hide {
  display: none;
}
